@import "https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Roboto:wght@300&display=swap";
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  box-sizing: border-box;
  list-style-type: none;
  text-transform: capitalize;
}

.container-fluid {
  background-color: #BFACE2;
}

.main_inicio {
  background-image: url(../imagenes/inicio/fotoindex.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0px;
}
.main_inicio h1 {
  font-family: roboto;
  color: #ffffff;
  font-size: 55px;
  margin-bottom: 30px;
}
.main_inicio p {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 30px;
}

.Footer {
  background-color: #687EFF;
  padding: 80px 0;
  max-width: 100%;
  margin: 0 auto;
}
.Footer .footer_row {
  display: flex;
  flex-wrap: wrap;
}
.Footer .footer_row .footer_links {
  width: 25%;
  padding: 0px 15px;
}
.Footer .footer_row .footer_links .link_h4 {
  font-size: 20px;
  color: aliceblue;
  margin-bottom: 20px;
  font-weight: 500;
  border-bottom: 2px solid #00c3ff;
  padding-bottom: 10px;
  display: inline-block;
}
.Footer .footer_row .footer_links .link_list a {
  text-decoration: none;
  font-size: 15px;
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.Footer .footer_row .footer_links .link_list a:hover {
  transition: all 0.3s ease;
  color: #bbbbbb;
  padding-left: 6px;
}
.Footer .footer_row .footer_links .social_link a {
  display: inline-block;
  min-height: 40px 40px;
  width: 40px;
  background-color: blue;
  margin: 10px 10px 10px 10px;
  text-align: center;
  line-height: 10px;
  border-radius: 25%;
  color: whitesmoke;
  transition: all 0.5s ease;
}
.Footer .footer_row .footer_links .social_link a:hover {
  background-color: #BFACE2;
}

@media (max-width: 575px) {
  .footer_row {
    flex-direction: column;
    text-align: justify;
    align-items: center;
  }
}
.cuerpo_noticias {
  background-image: url(../fuentes/27525.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.Medio_Noticias .carousel-item {
  height: 100vh;
  min-height: 400px;
  background: no-repeat center;
}
.Medio_Noticias .contenedor_Mr {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.Medio_Noticias .contenedor_Mr .MrBeast1 {
  background-color: #bbbbbb;
  padding: 15px;
  margin: 0 10px;
  text-align: left;
}
.Medio_Noticias .contenedor_Mr .MrBeast2 {
  background-color: #B6FFFA;
  padding: 15px;
  margin: 0 10px;
  text-align: left;
}
.Medio_Noticias .Card_Noticias {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: space-around;
}
.Medio_Noticias .Card_Noticias .card {
  background-color: #B6FFFA;
}
.Medio_Noticias .Card_Noticias .card-link {
  text-decoration: none;
}

.video1 {
  padding: 50px 350px;
  display: flex;
  align-items: center;
}

.Noticias_footer {
  background-color: black;
  font-family: Helvetica;
  font-size: 10px;
  color: whitesmoke;
  text-align: center;
  margin-top: auto;
}

/*@media(max-width:576px) {

       .footer_row {



        text-align: center;
    }

    .footer_links {
        width: 100%;
        margin-bottom: 30px;
    }
}
@media (min-width:360px){

    .footer_row {



        text-align: center;
    }

    .footer_links {
        width: 100%;
        margin-bottom: 30px;
    }
}*/
.Main_Productos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Main_Productos .banner {
  border-radius: 8px;
  width: 75%;
  display: flex;
  align-items: center center;
  margin: 20px 20px;
  background-color: #00c3ff;
  border-radius: 30% 70% 70% 30%/30% 8% 92% 70%;
}
.Main_Productos .banner img {
  width: 40%;
  height: auto;
  aspect-ratio: 16 9;
  object-fit: contain;
}
.Main_Productos .banner p {
  font-size: 15px;
  font-family: "Roboto";
  width: 60%;
  padding: 0px 20px;
}
.Main_Productos .banner:nth-of-type(even) img {
  order: 2;
}
.Main_Productos .banner:nth-of-type(even) p {
  order: 1;
}

.Cuerpo_Proyecto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header header header " "main main aside" "Footer Footer Footer ";
  column-gap: 25px;
  row-gap: 15px;
}

.Cabeza_Proyecto {
  grid-area: header;
}

.Main_Proyecto {
  background-color: #98E4FF;
  grid-area: main;
  border-radius: 8px;
}
.Main_Proyecto a {
  font-family: Arial, sans-serif;
  background-color: aliceblue;
  color: rebeccapurple;
  font-size: 15px;
  margin-bottom: 15px;
  text-decoration: none;
  font-weight: 600;
  padding: 5px 15px;
}
.Main_Proyecto h3 {
  color: blue;
  padding-top: 10px;
}

.Aside_Proyecto {
  grid-area: aside;
  background-color: #B6FFFA;
  border-radius: 8px;
}
.Aside_Proyecto h1 {
  color: black;
}
.Aside_Proyecto p {
  color: black;
}

.Footer_p {
  grid-area: Footer;
  background-color: #687EFF;
  padding: 50px 0;
  max-width: 100%;
  margin: 0;
}
.Footer_p .footer_row {
  display: flex;
  flex-wrap: wrap;
}
.Footer_p .footer_row .footer_links {
  width: 25%;
  padding: 0 15px;
}
.Footer_p .footer_row .footer_links .link_h4 {
  font-size: 20px;
  color: aliceblue;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #00c3ff;
  padding-bottom: 10px;
  display: inline-block;
}
.Footer_p .footer_row .footer_links .link_list a {
  text-decoration: none;
  font-size: 15px;
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
.Footer_p .footer_row .footer_links .link_list a:hover {
  transition: all 0.3s ease;
  color: #bbbbbb;
  padding-left: 6px;
}
.Footer_p .footer_row .footer_links .social_link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  text-align: center;
  color: #ffffff;
  transition: all 0.5s ease;
}
.Footer_p .footer_row .footer_links .social_link a:hover {
  background-color: black;
}

.Cuerpo_Servicios {
  background-image: url(../fuentes/27530.png);
}
.Cuerpo_Servicios .Main_Ser {
  display: flex;
  flex-direction: column;
}
.Cuerpo_Servicios .Main_Ser h1 {
  font-size: 40px;
  text-align: center;
}
.Cuerpo_Servicios .Main_Ser p {
  padding: 20px 20px;
  text-align: left;
  font-size: 18px;
}
.Cuerpo_Servicios .Main_Ser h5 {
  font-size: 18px;
  text-align: left;
  padding: 20px 20px;
}
.Cuerpo_Servicios .main_servicios .nav_main {
  background-color: #98E4FF;
}
.Cuerpo_Servicios .main_servicios .nav_main ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  flex-direction: column;
}
.Cuerpo_Servicios .carousel_serv {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.Cuerpo_Servicios .carousel_serv h5 {
  font-size: 24px;
  font-weight: bold;
}
.Cuerpo_Servicios .carousel_serv .card_serv {
  text-decoration: none;
  color: black;
  width: 15px;
  font-weight: bold;
}

.pie_servicios {
  background-color: #687EFF;
  padding: 50px 0;
  max-width: 100%;
  margin: 0 auto;
}
.pie_servicios .footer_row {
  display: flex;
  flex-wrap: wrap;
}
.pie_servicios .footer_row .footer_links {
  width: 25%;
  padding: 0 15px;
}
.pie_servicios .footer_row .footer_links .link_h4 {
  font-size: 20px;
  color: aliceblue;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #00c3ff;
  padding-bottom: 10px;
  display: inline-block;
}
.pie_servicios .footer_row .footer_links .link_list a {
  text-decoration: none;
  font-size: 15px;
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
.pie_servicios .footer_row .footer_links .link_list a:hover {
  transition: all 0.3s ease;
  color: #bbbbbb;
  padding-left: 6px;
}
.pie_servicios .footer_row .footer_links .social_link a {
  display: inline-block;
  min-height: 40px 40px;
  width: 40px;
  background-color: blue;
  margin: 10px 10px 10px 10px;
  text-align: center;
  line-height: 10px;
  border-radius: 25%;
  color: whitesmoke;
  transition: all 0.5s ease;
}
.pie_servicios .footer_row .footer_links .social_link a:hover {
  background-color: black;
}

/*# sourceMappingURL=styles.css.map */
