* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header.Cabeza_Inicio {
    padding: 15px 0px;
    position: absolute;
    z-index: 300000;
    width: 100%;
    top: 0;
    left: 0;
     
}
.Ul_Indice{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
header .menu-indice a{
    color: whitesmoke;
    padding: 0px 14px;
    font-size: 20px;

    text-decoration: none;
}


#BannerBienvenida{
    background-image:url(../imagenes/pexels-pixabay-36717.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 0px;
    width: 100%;


}

#BannerBienvenida h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: antiquewhite;
    font-size: 70px;
    margin-bottom: 20px;
    }  
#BannerBienvenida p{
    font-family:'Arial Narrow Bold', sans-serif;
    color: antiquewhite;
    font-size: 50px;
    margin-bottom: 20px;
    }  
#BannerBienvenida a{
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    color: rebeccapurple;
    font-size: 30px;
    margin-bottom: 15px;
    text-decoration: none;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 8px;
    } 
footer.Pie_Inicio{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color:whitesmoke;
    text-align: center;
    bottom: 0;
    width: 100%;

}


*/ noticias--

.cuerpo_Noticias{
    display: grip;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 75px 400px 50px;
}

.cabezas_Noticia{
   height: 75px;
   width: 100%;
   background-color: aquamarine;
   padding: 12px 0px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;

}

.cabezas_Noticia h1{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 12px;
    margin-left: 12px;
    color: black;
    } 
    .cabezas_Noticia a{
        font-family: Arial, sans-serif;
        color:green;
        font-size: 30px;
        margin-bottom: 15px;
        text-decoration: none;
        font-weight: 600;
        padding: 12px 24px;
        border-radius: 50%;
        
    } 

.Medio_Noticias{
    background-color: blanchedalmond;
    font-size: 18px;

} 
    .Noticias_footer {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color:whitesmoke;
    text-align: center;
    bottom: 0;
    width: 100%;
    }

*/ hoja de productos*/

body.cuerpo_productos {
    display: grip;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 75px 300PX 50px;
    grid-template-areas:
    "main header header" 
    "main main main"
    "footer footer footer";
    column-gap: 25px;
    row-gap: 15px;
}
 header.Cabeza_Productos{
    grid-area: header;
}
.Cabeza_Productos{
   height: 75px;
   width: 100%;
   position: absolute;
   background-color: black;
   color: antiquewhite;
   padding: 28px 0px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
.Cabeza_Productos a{
    font-family: Arial, sans-serif;
    color:green;
    font-size: 30px;
    margin-bottom: 15px;
    text-decoration: none;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 50%;
}
main.main_productos{
    grid-area: main;
}

.Main_Productos a{
    font-family: Arial, sans-serif;
    color:green;
    font-size: 30px;
    margin-bottom: 15px;
    text-decoration: none;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 50%;
}
.card1{
    background-color:lightsalmon;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer.Pie_productos{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color:whitesmoke;
    text-align: center;
    bottom: 0;
    width: 100%;
}


*/ hoja de proyecto*/

.Cuerpo_Proyecto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto ;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer";
    column-gap: 25px;
    row-gap: 15px;
    

}
header.Cabeza_Proyecto{
    background-color: brown;
    grid-area: header;
}
nav.Nav_Proyecto{
    background-color: aqua;
    grid-area: nav;

}
main.Main_Proyecto{
    background-color: red;
    grid-area: main;
    
}

footer.Pie_proyecto{
    background-color: blue;
    grid-area: footer;
}
header, nav, main, footer {
    padding: 15px;
    font-size: 20px;

}





 
 */ hoja servicios ****/
.servicios h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:30;
    background-color:blanchedalmond;
    color:black;
}
header.servicios ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;

}
.imagen3 img{
    display: flex;
    width: 300px;
    height: 300px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;

}
header.sobre h1{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    background-color: brown;
    color: black;
}
.sobre-nosotros p{
    font-family:'Arial Narrow Bold', sans-serif;
    color: antiquewhite;
    font-size: 50px;
    margin-bottom: 20px;
    position: absolute;
    
}