* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 15px 0px;
    position: absolute;
    z-index: 300000;
    width: 100%;
    top: 0;
    left: 0;
     
}
header ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
header .menu-indice a{
    color: whitesmoke;
    padding: 0px 14px;
    font-size: 20px;

    text-decoration: none;
}


#BannerBienvenida{
    background-image:url(../imagenes/pexels-pixabay-36717.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 265px 0px;


}

#BannerBienvenida h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: antiquewhite;
    font-size: 70px;
    margin-bottom: 20px;
    }  
#BannerBienvenida p{
    font-family:'Arial Narrow Bold', sans-serif;
    color: antiquewhite;
    font-size: 50px;
    margin-bottom: 20px;
    }  
#BannerBienvenida a{
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    color: rebeccapurple;
    font-size: 30px;
    margin-bottom: 15px;
    text-decoration: none;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 8px;
    }  



.body img{
    background-repeat: round;
    background-size: 300px;

    }
#BannerNoticias h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    text-align: center;
    font-size: 70px;
    margin-bottom: 20px;
    margin-top: 100px;
    font-weight: 300;
} 
    #BannerNoticias p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: medium;
    text-align: justify;
    padding: 40px 40px 40px 40px;

    }
    #BannerNoticias a{
    font-family: Arial, sans-serif;
    background-color: blue;
    color:black;
    font-size: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    font-weight: 300;
    padding: 9px 18px;
    border-radius: 8px;
    }
 .Noticias-footer {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color:whitesmoke;
    text-align: center;
    bottom: 0;
    width: 100%;
 }
*/ hoja de productos*/

.tarjeta_productos {
    background-image: url(../imagenes/empresa1.jpg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



 

*/ hoja de proyecto*/

.proyecto h1{
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
    color: red;
    }

    .proyecto h3{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: bisque;
        color: black;
        text-align: justify;
    }

.contenedor1 img{
    display: flex;
    width: 300px;
    height: 300px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
 }

 .contenedor2 iframe{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
 }
.boton2 a{
    
    background-color:coral ;
    color: red;
    font-family: Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 15px;
    text-decoration: none;
    font-weight: 300;
    padding: 12px 24px;
    border-radius: 8px;
    position: absolute;
}



 footer.footerproyecto{
    display: flex;
    text-align: center;
    bottom: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    background-color: blueviolet;
    color: black;
    margin-bottom: auto;
    position: absolute;
 }
.servicios h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30;
    background-color: blanchedalmond;
    color: black;
}
header.servicios ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;

}
.imagen3 img{
    display: flex;
    width: 300px;
    height: 300px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;

}
header.sobre h1{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    background-color: brown;
    color: black;
}
.sobre-nosotros p{
    font-family:'Arial Narrow Bold', sans-serif;
    color: antiquewhite;
    font-size: 50px;
    margin-bottom: 20px;
    position: absolute;
    
}